<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Your Products</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="subtotal">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<% for (purchase of productCart) { %>
							<% for (product of products) { %>
							  <% if (product.id == purchase.product_id) { %>
								<tr>
									<td data-th="Your Products">
										<div class="row">
											<div class="col-sm-2 hidden-xs thumbnail pull-left"><img src="<%= product.image %>" alt="..." class="img-responsive media-object" style="width: 72px; height: 72px;"/></div>
											<div class="col-sm-10">
												<h4 class="nomargin"><%= product.name %></h4>
												<p><%= product.description %></p>
											</div>
										</div>
									</td>
									<td data-th="Price" ><p class="priceContainer">$<%= product.price %></p></td>
									<td data-th="Quantity" class="">
										<%= purchase.quantity %>
									</td>
									<td data-th="Subtotal" class=" subtotal"><p class="subtotalContainer">$<%= subtotals[purchase.product_id] %></p></td>

								  <form action="cart/delete/<%= product.id %>?_method=DELETE" method="POST">
									<td colspan="2" class="actions" data-th="">
										<form action="cart/delete" method="POST">
										<button class="btn btn-danger text-dark text-dark text-center w-100" >Remove Item</button>	

									</form>	
									</td>
								</tr>
							  <% } %>
							<% } %>
						  <% } %>
					</tbody>
					<tfoot>
						
						<tr>
							<td class="continueShopping"><a href="/products" class="btn btn-dark ">Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td colspan="2" class="hidden-xs text-right text-center"><strong>Total $<%= total%></strong></td>
							<td colspan="2"><a href="#" class="btn btn-warning btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>

<script src="/js/cart.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<!-- <script src="/js/jquery.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</div>
</body>

</html>