<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

  
  <main>
    <div class="card bg-light compras">
      <div class="comprasSub">
        <h1>Cart</h1>
      </div>
      <div class='comprasSub'>
        <div class="row col-12 galeria">
          <% for (purchase of productCart) { %>
            <% for (product of products) { %>
              <% if (product.id == purchase.product_id) { %>
          <div class="col-lg-6 sm-12 fg">
              <img src="<%= product.image %>" alt="">
              <h5><a class='name' href="/products/detail/<%= product.id %>"><%= product.name %></a></h5>
              <p><%= product.price %></p>
          </div>
              <% } %>
            <% } %>
          <% } %>
      </div>
        <!-- <div class='img'>
          <img src="/images/WalkersW.PNG" alt="">
          <div class= "close">
            <img src="https://img.icons8.com/ios/50/000000/close-window.png"/>
          </div>
        </div>
        <h5>Product:</h5>
        <h5>Price:</h5>
        <h5> Quantity:
          <select name="" class="form- groupbtn btn-default btn-lg dropdown-toggle" placeholder="Cantidad" type="number">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>...</option>
          </select>
        </h5>
      
        <h5>Subtotal:</h5>
      </div> -->
      <div class="comprasSub">
        <h3>Total</h3>
        
        
        <div>
          <h5>Subtotal:</h5>
          <h5>Send Charges:</h5>
          <h5>Total:</h5>
        </div>
        
        <div>
          <button type="button" class="btn btn-dark">End Purchase</button>
        </div>
      </div>
    </div>
  </main> 
  
  <%- include('./partials/footer.ejs') %>

  
