<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Your Products</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center subtotal">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<% for (purchase of productCart) { %>
							<% for (product of products) { %>
							  <% if (product.id == purchase.product_id) { %>
								<tr>
									<td data-th="Your Products">
										<div class="row">
											<div class="col-sm-2 hidden-xs thumbnail pull-left"><img src="<%= product.image %>" alt="..." class="img-responsive media-object" style="width: 72px; height: 72px;"/></div>
											<div class="col-sm-10">
												<h4 class="nomargin"><%= product.name %></h4>
												<p><%= product.description %></p>
											</div>
										</div>
									</td>
									<td data-th="Price"><%= product.price %></td>
									<td data-th="Quantity">
										<input type="number" class="form-control text-center" value="1">
									</td>
									<td data-th="Subtotal" class="text-center subtotal"><%= product.price %></td>
									
									<td colspan="3" class="actions" data-th="">
										<form action="cart/delete" method="POST">
										<button class="btn btn-danger text-dark text-dark" style="float:right;">Remove Item</button>	
									</form>	
									</td>
								</tr>
							  <% } %>
							<% } %>
						  <% } %>
					</tbody>
					<tfoot>
						
						<tr>
							<td class="continueShopping"><a href="/products" class="btn btn-dark ">Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td colspan="2" class="hidden-xs text-right"><strong>Total $1.99</strong></td>
							<td><a href="#" class="btn btn-warning btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>