<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<main>
    
    <form action="/productos/editar/<%= productToEdit.id %>?_method=PUT" method="POST">
        
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Editá Tu Field</h4>
                <p class="text-center">Bienvenido/a a Fields!</p>
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="nombre" class="form-control" placeholder="Nombre Producto" value="<%= productToEdit.nombre %>" type="text" required>
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="descripcion" class="form-control" value="<%= productToEdit.descripcion %>" placeholder="Descripción" type="text">
                    </div>
                    
                    <!-- repite 4 veces  -->
                    
                    <div class="form-group input-group row">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">XS</button>
                                <button type="button" class="btn btn-default">S</button>
                                <button type="button" class="btn btn-default">M</button>
                                <button type="button" class="btn btn-default">L</button>
                                <button type="button" class="btn btn-default">XL</button>
                            </div>
                        </div>
                        <div class="input-group-prepend col-2">
                        </div>
                        <input name="" class="form-control" placeholder="Cant." type="number" required>
                    </div>
                    <div class="form-group input-group row">
                        <div class="btn-group col-12">
                            <label for="">Precio:</label>
                            <input name="precio" class="number" placeholder="Precio" type="number" value="<%= productToEdit.precio %>"required>
                        </div>
                    </div>
                    <div class="form-group input-group row">
                    <div class="btn-group col-12">
                        <label for="">Descuento:</label>
                        <input name="descuento" class="number" placeholder="Descuento" value="<%= productToEdit.descuento %>" type="number" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="categoria" class="form-label">Categoría:</label>
                        <select name="categoria" id="category" class="form-input"  value="<%= productToEdit.categoria %>">
                            <option value="">Elegí</option>
                            <option value="destacado">Destacado</option>
                            <option value="visited"></option>
                        </select>
                    </div>
                    
                    <div class="col-12 col-md-6">
                        <label for="tipo" class="form-label">Tipo de Producto:</label>
                        <select name="tipo" id="tipo" class="form-input"  value="<%= productToEdit.tipo %>">
                            <option value="">Elegí</option>
                            <option value="fields">Fields</option>
                            <option value="walkers">Walkers</option>
                        </select>
                    </div>
                                
                        <button type="submit" class="btn btn-primary btn-block">Guardar Producto</button>
        </article>
    </form>
    </div>  
</div> 


</main> 

<%- include('./partials/footer.ejs') %>
