<%- include('./partials/head.ejs') %>


    <%- include('./partials/header.ejs') %>

        <main>

            <div class="wrap">
                <section class="galeria container">
                    <img src="/images/inicio.jpg">
                    <!-- <img src="/images/handstand.PNG"> -->
                    <div class="zoom">
                        <a href="/products">
                            <!-- <h2>20% OFF <br> IN WALKERS!</h2> -->
                        </a>
                    </div>
                </section>

                <div class=" ">
                    <div class='cwcontainer'>
                        <div class="col-12">
                                <div class="zoom">
                                    <a href="/products">
                                        <h2>Winter SALE! <br> 20% OFF IN WALKERS</h2>
                                    </a>
                                </div>
                                <img src="/images/indexDiv.png" alt="">
                        </div>



                        <div class=" carouselIndex">
                            <!-- SAQUE EL ROW -->
                            <div class="col-md-12 prod">
                                <h2 class="text-dark">Highlighted!</h2>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                                    <div class="carousel-inner">
                            
                                            <div class="row">
                                                <% for (product of highlightedProducts) { %>
                                                    <div class="col-sm-3 cart">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="<%= product.image %>" class="img-responsive img-fluid" alt="">
                                                            </div>
                                                            <div class="thumb-content prod">
                                                                <h4>
                                                                    <a class='name text-dark' href='/products/detail/<%= product.id %>'>
                                                                        <%= product.name %>
                                                                    </a>
                                                                </h4>
                                                                <p class="item-price"> <span>$<%= product.price %></span></p>

                                                                <a href="/products/detail/<%= product.id %>" class="btn btn-warning">Add to Cart</a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        
                                    </div>
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                      </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="imagenbottom  ">
                    <!-- <div class="box">
                        <img src="/images/rails.PNG">
                    </div>   -->
                    <div class="mision">
                        <p>Our mission is to combine argentinian passions and fashion design, redefining the "bombacha de campo" as a trouser which can be used not only for daily life, but also for riding a horse in the Patagonia. </p>
                    </div>
                </div>


            </div>
        </main>

        <%- include('./partials/footer.ejs') %>