<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
    
    <main>
             
        <div>
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Load your Field</h4>
                    <p class="text-center">Welcome to Fields!</p>
                    <!-- action= "/products/load" -->
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="name" class="form-control" placeholder="Product Name" type="text" required>
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="description" class="form-control" placeholder="description" type="text">
                        </div>

                        <div class="form-group input-group row">
                            <div>
                                <label for="">Size</label>
                                <select name='size'> 
                                    <% for( let i = 0; i < sizes.length; i++) {%>
                                    <option value="<%= sizes[i].id %>">
                                        <%= sizes[i].name %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div>
                                <label for="">Color</label>
                                <select name='color'> 
                                    <% for( let i = 0; i < colors.length; i++) {%>
                                    <option value="<%= colors[i].id %>">
                                        <%= colors[i].name %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="input-group-prepend col-2">
                            </div>
                            <input name="quantity" value="1" class="form-control" placeholder="Quantity" type="number" required>
                        </div>
                        <div class="form-group input-group row">
                            <div class="btn-group col-12">
                                <label for="price">Price:</label>
                                <input name="price" class="number" placeholder="Price" type="number" required>
                            </div>
                        </div>
                        <div class="form-group input-group row">
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Highlighted:</label>
                            <select name="highlighted" id="highlighted" class="form-input">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for="">Category</label>
                            <select name='category'> 
                                <% for( let i = 0; i < productCategories.length; i++) {%>
                                <option value="<%= productCategories[i].id %>">
                                    <%= productCategories[i].name %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for='image-product' class='form-label input-group-btn'>Product image: </label>
                            <input accept=".jpg,.png,.jpeg,.gif" class="" id="banner_captura" name="image-product" type="file" required>
                        </div> 
                                            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Load Product </button>
                        </div> 
                    </div>                                                                          
                    </form>
                </article>
            </div>  
        </div> 
        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            