<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row profile">
		<div class="col-md-6">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="<%= user.avatar %>"class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<h2><%= user.name %> <%= user.lastname %></h2>
					</div>
					<div class="profile-usermail">
						<h2><%= user.email %></h2>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="profile-userbuttons">
					<form action="/user/log-out/" method='POST'>
						<button type="submit" class="btn btn-light">Log out</button>
					</form>
					<p class="text-center"> <a href="/user/edit/<%= user.id %>">Edit Profile</a> </p>                                             
				</div>
				<div class="profile-usermenu">
					<ul class="nav-info">
						<li class="">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							My Orders</a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							My Personal Information </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Claim and Suggestions</a>
						</li>
					</ul>
				</div>
				<!-- SIDEBAR BUTTONS -->
				
				<!-- END SIDEBAR BUTTONS -->
				<!-- END MENU -->
			</div>
		</div>
				<!-- INFO MENU -->	
		<div class="col-md-6">
			<div class="profile-sidebar">
				<!-- *ACA HABRIA QUE HACER UN IF, DE ACUERDO A LO QUE CLIQUEE, SI VA A COMPRAS, EL HISTORIAL DE COMPRAS, O LA ULTIMA COMPRA (A DECIDIR)-->
				<div class="profile-userbuttons">


				</div>

				<!--*LOS DATOS DEBERIAN SER (NOMBRE  / APELLIDO / MAIL / DIRECCION) -->
				<div class="profile-userbuttons">


				</div>
				<!--* reclamos y sugerencias deberia ir un espacio para escribir con un bottom enviar-->
				<div class="profile-userbuttons">
					<div class="form-group">
						<label for="InputRequest">Claim and Suggestions</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Description">
						<div class="form-group">
							<label for="TextRequest">Please leave your comment below</label>
							<textarea class="form-control" id="TextRequest" rows="10"></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-light"href="mailto:administrationfields@gmail.com">Sent</button>
				</div>
			</div>
		</div>
		
	</div>
</div>
<br>

<%- include('./partials/footer.ejs') %>
